<%= form_for(@infomation) do |f| %>
  <% if @infomation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infomation.errors.count, "error") %> prohibited this infomation from being saved:</h2>

      <ul>
      <% @infomation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  	<table class="createInfo">
  		<tr>
  			<th>見出し</th>
  			<td><%= f.text_field :title, :size=>"60" %></td>
  		</tr>
  		<tr>
  			<th>詳細</th>
  			<td><%= f.text_area :body, :size=>"58x10" %></td>
  		</tr>
  	</table>
    <%= f.submit %>
  </div>
<% end %>
