<p id="notice"><%= notice %></p>

<h1>Listing Infomations</h1>

<dl class="infomation">
<dt>2015/07/29</dt>
<dd>sample2-1 の画像です</dd>
<dt>2015/07/28</dt>
<dd>sample2-2 の画像です</dd>
</dl>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infomations.each do |infomation| %>
      <tr>
        <td><%= link_to 'Show', infomation %></td>
        <td><%= link_to 'Edit', edit_infomation_path(infomation) %></td>
        <td><%= link_to 'Destroy', infomation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infomation', new_infomation_path %>
